.nav{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

.nav a,
.nav button{
    background: #eee;
    border-radius: .2rem;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: .1s;
}

.nav a:focus,
.nav button:focus,
.nav a:hover,
.nav button:hover{
    background: var(--white);
    box-shadow: 0 0 0 3px #eee;
    border-color: var(--black);
    outline: none;
}

.nav a:global(.active){
    background: var(--white);
    box-shadow: 0 0 0 3px #fea;
    border-color: var(--yellow);
}

.nav a:global(.active) svg > *{
    fill: var(--yellow);
}